* {
  box-sizing: border-box;
}

body {

  p {
    margin: 0;
  }

  a {
    display: inline-block;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent; // remove highlighting color when tapping on iOS
  }

  img {
    display: block;
  }

  ul, ol {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
    }
  }

  blockquote {
    margin: 0;
  }

  button, input, select, textarea {
    border: none;
    border-radius: 0;
    outline: none;
    padding: 0;
    color: black;
    -webkit-tap-highlight-color: transparent; // remove highlighting color when tapping on iOS
  }

  textarea {
    max-width: 100%;
    resize: vertical;
  }

  label {
    display: inline-block;
  }

  button {
    background-color: transparent;
    cursor: pointer;

    &:focus {
      background-color: transparent;
    }
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;

    legend {
      float: left;
      width: 100%;

      + * {
        clear: both;
      }
    }
  }

  abbr[title] {
    text-decoration: none;
  }
}