

/* ———————————————————————————————— */
/* —————— !! INDEX (S)CSS !! —————— */
/* ———————————————————————————————— */
   

   .breadcrumb-item + .breadcrumb-item::before         {
       font-family: 'fontAwesome';
       content: "‹" !important;
    }
   
      
   /* -------- ! LEFT SIDE ! -------- */
   
   /* CONTAINER */

   .container a:link {
    color: #999999;
    text-decoration: none;
  }
  
  .container a:active {
    color: #999999;
  }
  
  .container a:visited {
    color: #999999;
  }
  
  .container a:hover {
    color: #b06ab3;
    text-decoration: none;
  }
  
   .overlay {top:-2.5rem;}
   .container {
       h1 {font-weight:800;
       color: rgb(103, 103, 103);}
   }
   .forums__list {
       background-color: rgb(249, 249, 249);
       border-radius: 0.5rem;
       padding:1rem 2rem 1rem 0rem;
       padding:0 2rem 1.5rem 0;
     }
   
   
     .card__cat {
        height: 17.5rem;
        width: 108%;
        margin-top: 1rem;
        padding: 0.5rem;
        overflow: auto;
      }
   
   
   
       .col-6{ 
   
   img {width:5rem;
       margin:1rem 1.5rem 0 0;}
   hr { background: linear-gradient(to right,rgba(171, 15, 156, 0.7) 0%, rgba(63, 0, 222, 0.7) 100%);
       height:0.1rem;
       width:5rem;
       margin-left:0;}
   
   table, th, tr, td {margin:0;
           padding:0 1rem 0 0;
           font-weight: normal;
           line-height:0;
           
   p {font-size:1rem;
               color: rgb(153, 153, 153);
           
   span {font-weight:800;
           font-size:1.1rem;} 
       
       }}
   
   .card-title {font-weight:800;
           color:rgb(103, 103, 103);}
           
   .card-text{color:rgb(182, 182, 182);
           overflow:auto;
           height:5rem;}      
       
   }
   
   /* -------- ! RIGHT SIDE ! -------- */
   
   .col-xl-3 {
   
       hr { background: linear-gradient(to right,rgba(171, 15, 156, 0.7) 0%, rgba(63, 0, 222, 0.7) 100%);
           height:0.1rem;}
   
     }
     .cog {
      color: #b06ab3;
    }
   .magnifying-glass {color:rgb(176, 106, 179);}
   #accordionGroup {  border-bottom: 1px solid #e9e9e9;
    .btn-login {
        background-color: #b06ab3;
      }

      .greytext {  color: #b6b6b6;}
   }
   .accordion-btn {
    position: relative;
  }

  .accordion-btn:before {
    position: absolute;
    content: "+";
    right: 10px;
    top: 5px;
  }

  .accordion-btn[aria-expanded="true"]:before {
    content: "-";
  }
   
   .grad {border-radius:1rem 1rem 0 0;
       padding:1rem 1rem 1rem 1.7rem;
       width:100%;
       background: linear-gradient(to right, rgb(176, 106, 179) 0%,rgb(74, 104, 219) 100%);}
   
    .last-posts {height:42rem;
   overflow:auto;}   
   
   .last-posts__desc {
        p {color:rgb(182, 182, 182);}
       h5 {font-size:1.3rem;
           font-weight:800;
           color:rgb(103, 103, 103);
       span {font-size:0.9rem;
       font-style:italic;
        font-weight:0;
       color:rgb(153, 153, 153);}}
   }
   
   
   .last-users {height:19rem;
       overflow:auto;
   
   p {  color:rgb(182, 182, 182);
   span { color:rgb(103, 103, 103);
       font-weight:600;
   font-size:1.2rem;
   line-height:1;}
   }    
   
   img {width:4.2rem;
   margin:auto;
   padding:auto;}}  
   
   
   
   .img-overlay-wrap {
       position: relative;
   
     }
     
     .img-overlay-wrap img { /* <= optional, for responsiveness */
        display: block;
        max-width: 100%;
        height: auto;
     }
     
     .img-overlay-wrap svg {
       position: absolute;
       top: 0;
       left: 0;
     }
     
       
   
   
   
     
     
   
   